body {
	font-family: 
	"Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.6em;
	width: 800px;
	margin: 0 auto;
	font-size: 20px;
}